In [ ]:
import pandas as pd

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
df1 = pd.read_csv('https://umbc.box.com/shared/static/au8h309qptksq5wlem6g5onn5v13fsrc.csv', encoding='ISO-8859-1')

In [ ]:
df2 = pd.read_csv('https://umbc.box.com/shared/static/tdkmuj86qm2uxhvjlfkav2i3pnx9fkoa.csv', encoding='ISO-8859-1')

In [ ]:
df3 = pd.read_csv('https://umbc.box.com/shared/static/7emabgf9ck2afprmrl459jnk30ewmabj.csv', encoding='ISO-8859-1')

In [ ]:
combined_df = pd.concat([df1, df2, df3], ignore_index=True)

In [ ]:
def clean_contract_data(df):
    df['Award$'] = pd.to_numeric(df['Award$'].str.replace('[^\d.]', ''), errors='coerce')
    df['PostedDate'] = pd.to_datetime(df['PostedDate'], errors='coerce', utc=True)
    df['Awardee'] = df['Awardee'].astype(str)
    return df

In [ ]:
combined_df = clean_contract_data(combined_df)

In [ ]:
combined_df.info()

In [ ]:
plt.hist(combined_df['Award$'].dropna(), bins=50)

In [ ]:
plt.show()